@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;

$accent: rgb(82, 172, 82);
$beige-lighter: #EFF0EB;
$primary: rgb(59, 49, 151);
$link: $accent;
$body-background-color: $beige-lighter;
$gap: 32px;

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

@import '~bulma/bulma'

